body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
  color: #222;
}

/* HEADER */
.site-header {
  text-align: center;
  padding-top: 15px;
}

/* LOGO / TITRE */
.logo {
  margin-bottom: 10px;
}

.logo-link {
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  color: #222;
}

.logo-link:hover {
  text-decoration: underline;
}


/* NAVBAR */
.main-nav {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 15px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.main-nav a {
  text-decoration: none;
  color: #222;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.main-nav a:hover {
  text-decoration: underline;
}


.flower-link {
  position: relative;
  display: inline-block;
}

/* L’élément animé */
.flower {
  position: absolute;
  width: 12px;
  height: 12px;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: flower-float 1s ease-out forwards;
  z-index: 10;
}

/* Le SVG ne doit JAMAIS décider de sa taille */
.flower svg {
  width: 100%;
  height: 100%;
  display: block;
}

@keyframes flower-float {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.8);
  }
  to {
    opacity: 0;
    transform:
      translate(
        calc(-50% + var(--dx)),
        calc(-50% + var(--dy))
      )
      scale(var(--scale));
  }
}


.photography-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.photo-filters {
  margin-bottom: 1.5rem;
}

.filter-btn {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 5px;
  transition: 0.3s;
}

.filter-btn:hover {
  background-color: #555;
}

.photo-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.photo-item {
  transition: all 0.5s ease;
}

.photo-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
  transition: transform 0.3s;
}

.photo-item img:hover {
  transform: scale(1.01);
}
