body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
  color: #222;
}

/* HEADER */
.site-header {
  text-align: center;
  padding-top: 15px;
}

/* LOGO / TITRE */
.logo {
  margin-bottom: 10px;
}

.logo-link {
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  color: #222;
}

.logo-link:hover {
  text-decoration: underline;
}


/* NAVBAR */
.main-nav {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 15px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.main-nav a {
  text-decoration: none;
  color: #222;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.main-nav a:hover {
  text-decoration: underline;
}


/* Le lien devient la référence */
.flower-link {
  position: relative;
  display: inline-block;
}

/* La fleur */
.flower {
  position: absolute;
  pointer-events: none;
  width: 14px;
  height: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: flower-float 1s ease-out forwards;
  z-index: 1;
}

/* Le SVG est contraint */
.flower svg {
  width: 100%;
  height: 100%;
  display: block;
}

/* Animation */
@keyframes flower-float {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.8);
  }
  to {
    opacity: 0;
    transform:
      translate(calc(-50% + var(--dx)), calc(-50% + var(--dy)))
      scale(var(--scale));
  }
}